* {
    box-sizing: border-box;
}

div {
    font-size: 1.25rem;
}

:root {
    --background-color: #fffcf2;
    --background-color2: #c78e8e;
    --background-color3: #94c78e;
    --title-color: black;
    --highlight-color: #3e0000;
    --highlight-color2: #105c08;
    --shadow-color: #0000002d;
    --border-width: 3px;
}

body {
    margin: 0;
}

body, textarea, input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

a, a:active {
    color: var(--highlight-color);
}

h1, h2, h3, h4, h5 {
    font-family: 'ansonregular';
    color: var(--title-color);
}

div.row {
    display: flex;
}

div.page-body {
    align-self: center;
    max-width: 70rem;
    padding: 2rem 1rem;
}

div.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 6rem 0 0.5rem;
    background-color: var(--background-color2);
    border-top: var(--border-width) solid var(--highlight-color);
    color: white;
}
div.page-footer a {
    color: white;
}

.socials {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* flex-direction: row; */
}

div.footer.socials {
    max-width: 50rem;
    font-size: 0.875rem;
    margin-bottom: 5rem;
}

div.header.socials {
    font-size: 0.75rem;
    margin: 0 2rem;
}

.footer.socials img, .footer.socials svg {
    width: 35px;
    height: 35px;
}

.socials img, .socials svg {
    width: 28px;
    height: 28px;
    transition: 0.2s;
}

.socials a {
    margin: 0 .5rem;
}

.socials img:hover {
    opacity: 0.6;
}

div.intro-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    /* margin-bottom: 2rem; */
    background-color: var(--background-color3);
    border-bottom: var(--border-width) solid var(--highlight-color2);
}

div.intro-title h1 {
    margin-bottom: 0;
    margin-top: 1rem;
}

div.intro-title h2 {
    margin-top: .5rem;
}

img.circle-large {
    align-self: center;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin-right: 2rem;
    border: var(--border-width) solid var(--highlight-color2);
    object-fit: cover;
}

div.page-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

div.project-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.project-grid > * {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: .25rem;
    margin-right: .25rem;
}

div.project-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 0px 2px 4px var(--shadow-color);
    border-radius: 1rem;
    transition: 0.25s;
    overflow: hidden;
    margin-bottom: 2rem;
}

div.project-panel h2 {
    text-align: center;
}

a.remove-style {
    text-decoration: none;
}
a.remove-style:active, a.remove-style:focus {
    outline: none;
}

div.project-panel:hover {
    box-shadow: 0px 4px 15px var(--shadow-color);
}


div.project-panel .description {
    height: calc(20rem + var(--border-width));
    width: 100%;
    padding: 15px 20px;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    font-size: 1.25rem;
}

div.project-panel:hover .description {
    opacity: 1;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact-form {
    display: flex;
    flex-direction: column;
}
#contact-form input, #contact-form textarea {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    outline: none;
    border: var(--border-width) solid var(--highlight-color2);
    border-radius: 0.25rem;
    background-color: white;
    padding: 0.5rem 0.75rem;
}
#contact-form input[type='submit'] {
    background-color: var(--highlight-color2);
    color: white;
    cursor: pointer;
    /* transition: 0.5s; */
}
#contact-form input[type='submit']:hover {
    background-color: hsl(199, 64%, 29%);
}


@media only screen and (max-width: 720px) {

    div.intro-title img.circle-large {
        margin: 0;
    }

    div.intro-title {
        flex-direction: column;
        align-items: center;
    }

    div.intro-title .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.project-grid > * {
        width: 100%;
    }

    div.project-panel {
        align-items: flex-start;
    }

    div.project-panel h2 {
        margin-left: 15px;
        margin: 1rem 15px 1rem;
    }

    div.project-panel .description {
        height: auto;
        padding: 0 15px 15px;
        position: static;
        opacity: 1;
    }

}

.project-image {
    width: 100%;
    background-position: center;
    border-width: 0;
    border-bottom-width: var(--border-width);
    border-style: solid;
}

#spygame {
    background-color: #E8E9DA;
}
#spy .description {
    background-color: #E8E9DAee;
}
#spy * {
    color: #1a1a1a;
}

#catan {
    background-color: #9f2f22;
}
#catan .description {
    background-color: #9f2f22ee;
}
#catan * {
    color: #ffe000;
}


